.footer{
    border-top: 1px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.container-footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    @media (min-width: 320px) and (max-width: 767px) {
        flex-direction: column;
        gap: 50px;
    }
}

.container-networks, .container-categories, .container-information, .container-policy {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (min-width: 320px) and (max-width: 767px){
        margin-left: 1rem;
    }
}



.container-networks h2, .container-categories h2, .container-information h2, .container-policy h2{
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.networks a, .links, .information-p{
    font-size: 13px;
    font-weight: 400;
    color: #000000;
}

.categories, .information, .policy{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-paymentmethods{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
}

.img-card{
    width: 40px;
    height: auto;
    border: 1px solid #afafaf;
    border-radius: 5%;
}

.container-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #e7e7e7;
    padding: 20px 0;
}

.container-copyright p{
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}