.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    width: 100%;
    height: 80px;
    z-index: 2;
    top: 0;
}

.menuicon{
    font-size: 24px;
    cursor: pointer;
    color: #000000;
    margin-left: 1rem;
}

.title{
    font-size: 50px;
    font-weight: 400;
    color: #000000;
    margin-left: 5rem;
    @media (min-width: 320px) and (max-width: 1050px){
        margin-left: 1rem;
    }
}

.navbar{
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: calc(100vh - 80px);
    gap: 0px;
    z-index: 2;
    border-top: 1px solid #000000;
    overflow-y: auto;
    transition: all 0.4s ease-in-out;
    @media (min-width: 320px) and (max-width: 575px){
        background-color: #ffffff;
        position: absolute;
        top: 100%;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        height: calc(100vh - 80px);
        gap: 0px;
        z-index: 2;
        border-top: 1px solid #000000;
        overflow-y: auto;
    }
}

.navbar.close{
    transform: translatex(0%);
}

.navbar.open{
    transform: translateX(-150%);
}

.container-navbar{
    width: 100%;
}

.container-link-and-arrow{
    display: flex;
    align-items: center;
}

.mdkeyboardarrowdown {
    cursor: pointer;
    height: 49px;
    border-bottom: 1px solid #000000;
}

.dropdownmenu{
    position: relative;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    max-height: 0px;
    transition: all 0.5s ease-out;
    background-color: #ffffff;
    z-index: 2;
}

.dropdownmenu.open{
    max-height: 1000px;
    transition: all 0.5s ease-in;
}

.link_dropdownmenu{
    font-size: 13px;
    color: #000000;
    padding: 10px;
    padding-left: 1rem;
    width: 100%;
    border-bottom: 1px solid #000000;
}

.link{
    font-size: 13px;
    color: #000000;
    padding: 15px;
    border-bottom: 1px solid #000000;
    width: 100%;
}

.link_user, .link_search, .link_perfil, .link_pedidos{
    display: none;
    @media (min-width: 320px) and (max-width: 1050px) {
        display: flex;
    }
}

.container-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-right: 1rem;
}

.searchicon, .usericon, .bagicon{
    font-size: 30px;
    cursor: pointer;
    color: #000000;
    padding: 5px;
}

.searchicon, .usericon{
    @media (min-width: 320px) and (max-width: 1050px) {
        display: none;
    }
}

.cart-bubble{
    position: absolute;
    top: 40px;
    right: 10px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 11px;
    font-weight: 600;
    font-family: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    position: absolute;
    background-color: #000000;
    opacity: 0.5;
    top: 80px;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

