.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    width: 100%;
    height: 80px;
    z-index: 2;
    top: 0;
}

.menuicon{
    font-size: 24px;
    cursor: pointer;
    color: #000000;
    display: none;
    @media (min-width: 320px) and (max-width: 1050px){
        display: flex;
        margin-left: 1rem;
    }
}

.title{
    font-size: 50px;
    font-weight: 1000;
    color: #000000;
    margin-left: 1rem;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all 0.4s ease-in-out;
    @media (min-width: 320px) and (max-width: 575px){
        background-color: #ffffff;
        position: absolute;
        top: 100%;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        height: calc(100vh - 80px);
        gap: 0px;
        z-index: 2;
        border-top: 1px solid #000000;
        overflow-y: auto;
    }
    @media (min-width: 576px) and (max-width: 1050px) {
        background-color: #ffffff;
        position: absolute;
        top: 100%;
        flex-direction: column;
        justify-content: start;
        width: 500px;
        height: calc(100vh - 80px);
        gap: 0px;
        z-index: 2;
        border-top: 1px solid #000000;
        overflow-y: auto;
    }
}

.navbar.close{
    @media (min-width: 320px) and (max-width: 1050px){
        transform: translatex(0%);
    }
}

.navbar.open{
    @media (min-width: 320px) and (max-width: 1050px){
        transform: translateX(-150%);
    }
}

.container-navbar{
    &:hover{
        .dropdownmenu{
            max-height: 300px;
            transition: all 0.5s ease-in;
        }
    }
    @media (min-width: 320px) and (max-width: 1050px){
        width: 100%;
        &:hover{
            .dropdownmenu{
                max-height: 600px;
                transition: all 0.3s ease-in;
            }
        }
    }
}

.dropdownmenu{
    position: absolute;
    top: 80px;
    right: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    overflow: hidden;
    max-height: 0px;
    transition: all 0.5s ease-out;
    background-color: #ffffff;
    z-index: 2;
    @media (min-width: 320px) and (max-width: 1050px) {
        position: relative;
        width: 100%;
        top: 0%;
        flex-direction: column;
        gap: 0px;
        flex-wrap: nowrap;
        transition: all 0.3s ease-out;
    }
}

.link_dropdownmenu{
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    padding: 10px;
    @media (min-width: 320px) and (max-width: 1050px){
        border-bottom: 1px solid #000000;
        width: 100%;
        padding-left: 1rem;
    }
}

.link{
    font-size: 13px;
    font-weight: 500;
    color: #000000;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 320px) and (max-width: 1050px){
        border-bottom: 1px solid #000000;
        width: 100%;
        justify-content: space-between;
        padding-left: 1rem;
        padding: 15px;
    }
}

.link_user, .link_search{
    display: none;
    @media (min-width: 320px) and (max-width: 1050px) {
        display: flex;
    }
}

.container-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    gap: 0.5rem;
}

.searchicon, .usericon, .bagicon{
    font-size: 30px;
    cursor: pointer;
    color: #000000;
    padding: 5px;
}

.searchicon, .usericon{
    @media (min-width: 320px) and (max-width: 1050px) {
        display: none;
    }
}

.cart-bubble{
    position: absolute;
    top: 37px;
    right: 28px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}

.overlay{
    position: absolute;
    background-color: #000000;
    opacity: 0.5;
    top: 80px;
    width: 100%;
    height: 100vh;
    z-index: 1;
}