.container-home {
    min-height: 100dvh;
}

.container-home-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-home-1 video {
    height: calc(100vh - 80px);
    object-fit: cover;
}

.container-home-2 {
    padding: 80px 0px 80px 0px;
    background-color: #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;

}

.container-home-2 h2{
    color: #ffffff;
    text-align: center;
}

.container-home-3 {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-slide-brand-home{
    height: 100%;
    width: 100%;
    text-align: center;
}


.img-slider-home{
    width: 150px;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.container-home-6 {
    padding: 0px 0rem 80px 0rem;
    background-color: #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.container-home-6 p {
    color: #ffffff;
}

.container-home-7 {
    width: 100%;
    @media (min-width: 320px) and (max-width: 1050px){
        width: 80%;
    }
}

.container-home-7 h2{
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

.container-home-8 {
    width: 80%;
    text-align: center;
}

.container-home-link-1 {
    color: #ffffff;
}